---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}
// Search
.bd-search {
	display: flex;
   	align-items: baseline;
    	column-gap: 0.3rem;
	color: rgba(0,0,0,.5);
}
// Footer
.legal-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 0.5rem;
	margin: 0.5rem 0;
	max-width: 20rem;
}
@media only screen and (max-width: 640px) {
	.legal-container {
		grid-template-columns: 1fr;
		max-width: 100%;
	}
}

// Alert bar
.alertbar {
	img {
		max-width: 40px;
	}
}
.alertbar.accept {
	display: none !important;
}
#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url("images/pop-bg.png") repeat top left transparent;
    z-index: 1001;
	background-color: white;
	img {
		max-width: 40px;
	}
	input {
	    background-color: #505151;
	    border: none;
	    padding: 0.5rem;
	    color: #FFECEC;
	    border-radius: 4px;
	}
	input:hover {
		background-color: #171919;
		color: white;
	}
}
#popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    max-height: 138px;
    margin: 6% auto;
    position: relative;
    width: 100%;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
