---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}
// Search
.bd-search {
	display: flex;
   	align-items: baseline;
    	column-gap: 0.3rem;
	color: rgba(0,0,0,.5);
}
// Footer
.legal-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 0.5rem;
	margin: 0.5rem 0;
	max-width: 20rem;
}
@media only screen and (max-width: 640px) {
	.legal-container {
		grid-template-columns: 1fr;
		max-width: 100%;
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
